body {
  margin: 0;
  font-family: "Times New Roman";
  background-color: #1e555c;
  color: white;
  font-size: 30px;
  text-align: center;
}

#container {
  width: 100%;
  height: 100%;
}
#app {
  margin: 70px auto;
  width: 450px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.control {
  display: flex;
  width: 100%;
}
.length-control {
  margin-right: auto;
  padding-left: 20px;
}
.session-control {
  padding-right: 20px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.btn-level {
  margin: 0 10px;
}
.session-timer {
  width: 260px;
  height: 160px;
  border: 8px solid rgb(19, 53, 58);
  margin-top: 15px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  color: white;
}
.main-title {
  font-size: 45px;
  margin-bottom: 20px;
}
.digits {
  font-size: 80px;
}
.timer-control {
  margin-top: 10px;
}
.author {
  font-size: 13px;
  margin-top: 8px;
  line-height: 20px;
  font-family: "Share Tech Mono", sans;
  color: rgb(165, 13, 13);
}
a {
  text-decoration: none;
  color: rgb(0, 38, 77);
}
.bl {
  display: flex;
  justify-content: center;
}
